{% extends 'base.html' %}

{% block title %}
Aurora and Son - Contact Us
{% endblock %}

{% block Contact_Us %}

<br>
<div class="bg-dark text-secondary px-4 py-2 text-center rounded-5 text-white"
  style="margin-right:20px;margin-left:20px">
  <div class="py-3">
    <h2 class="display-7 fw-bold" style="underline"><u>Contact Us</u></h2>
    <p>Contact Hours: 8:00 AM - 5:00 PM ET</p>
  </div>
  <div class="col container text-white">
    <span>
      <h5>Give us a call!</h5>
    </span>
    <span class="col">
      <p class="">Phone: (631)365-2626</p>
    </span>
    <br>
    <span>
      <h5>Email Us!</h5>
    </span>
    <span>
      <p>aurorasttransportllc@gmail.com</p>
    </span>
<!--    <div class="">-->
<!--      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactForm">-->
<!--        Open Contact Form-->
<!--      </button>-->
<!--    </div>-->
  </div>
</div>

<!--<div class="modal fade modal-dialog modal-dialog-centered" id="contactForm" data-bs-backdrop="static" data-bs-keyboard="false">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h1 class="modal-title fs-5" id="staticBackdropLabel">Contact Us Form</h1>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div class="mb-3">-->
<!--          <label for="senderEmail" class="form-label" aria-describedby="emailHelp">Email Address:</label>-->
<!--          <input id="senderEmail" type="email" class="form-control" placeholder="name@example.com">-->
<!--          <div id="emailHelp" class="form-text">This is used to reach back out to you.</div>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label for="senderMessage" class="form-label">Your message to us:</label>-->
<!--          <textarea id="senderMessage" class="form-control" rows="3"></textarea>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

{% endblock %}
